/* This file is for your main application css. */

@tailwind base;

@tailwind components;

@tailwind utilities;
/* @import "./phoenix.css"; */
@import "../node_modules/nprogress/nprogress.css";


[x-cloak] {
  display: none;
}

span.while-submitting { display: none; }

form.phx-submit-loading span.while-submitting { display: block !important;}

.svg-icon {
  width: 1em;
  height: 1em;
}
.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #333;
}
.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}


.show_left
{
  animation-fill-mode: forwards !important;
  animation: fadeInFromNone 0.2s ease-out;
}



.hide_left
{

  animation-fill-mode: forwards !important;
  animation: fadeOut 0.3s ease-in;
}


@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
    transform: scale(0.95);

  }

  1% {
    display: block;
    opacity: 0;
    transform: scale(0.95);
  }

  100% {
    display: block !important;
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOut {
  0% {
    display: block;
    opacity: 1;
    transform: scale(1);
  }

  99% {
    opacity: 0;
    transform: scale(0.95);
  }

  100% {
    display: none;
    opacity: 0;
    transform: scale(0.95);
  }
}

/* LiveView specific classes for your customizations */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  //opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}
